<!--
  SI USAMOS () o [] o [()] o {{}}
  LO QUE VIENE A CONTINUACION SERA CODIGO TYPESCRIPT.
  Si queremos TEXTO (string), debemos utilizar luego del codigo TYPESCRIPT unas comillas 'simples'
-->

<h1>Primera APP de angular corriendo 123: {{title}}</h1>
<button (click)="CambiarTitulo('titulo UNO')">Cambiar titulo</button>
<button (click)="CambiarTitulo('titulo DOS')">Cambiar titulo</button>
<button (click)="CambiarTitulo('titulo TRES')">Cambiar titulo</button> 
<button (click)="title = 'CAMBIO DIRECTAMENTE EL VALOR DE LA PROPIEDAD/VARIABLE'">Cambiar titulo</button> 
<br>
<!--HACEMOS UN BINDEO (VINCULACION) BI-DIRECCIONAL, DE LA VARIABLE CON EL TEXTO DEL INPUT-->
<input [(ngModel)]="variableInput"> <!--REQUIERE IMPORTAR 'FormsModule' (en el array 'imports'), en el archivo 'app.module.ts'-->
<br>
<p>{{variableInput}}</p>
<button (click)="variableInput = 'Cambio el valor de la propiedad para que IMPACTE en el INPUT'">Cambiar titulo</button> 
<br>

<!--CON ESTO: 'type="number"' EL INPUT RETORNA UN TIPO 'number', Y NO REQUIERE CASTEO.-->
<!--<input type="number" [(ngModel)]="numero1">-->

<input [(ngModel)]="numero1">
<input [(ngModel)]="numero2">
<button (click)="Sumar()">Sumar</button>
<h1>{{resultado}}</h1>

<hr/>


<!--BINDEO DIRECTO DEL TYPESCRIPT AL HTML SOLAMENTE, NO ES BI-DIRECCIONAL.-->
<img [src]="imagen">
